[submodule "simple_ws_server"]
	path = simple_ws_server
	url = https://github.com/sergei-svistunov/Simple-WebSocket-Server.git
[submodule "json"]
	path = json
	url = https://github.com/tunnuz/json.git
