<!DOCTYPE html>
<html ng-app="SmartHome">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://yastatic.net/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="https://yastatic.net/jquery-ui/1.11.2/themes/smoothness/jquery-ui.min.css" rel="stylesheet">
  </head>
  <body ng-controller="DevicesList">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">SmartHome</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div id="dashboard" class="row" ng-show="connected">
        <div class="col-xs-3 well" ng-repeat="device in devices" ng-switch="device.type">
          <div ng-switch-when="X10::MDTx07">
            <div style="margin-bottom: 10px;" slider="" range="min" min="1" max="22" step="1" ng-model="device.volume"></div>
            <button class="btn btn-lg btn-block" ng-class="{true: 'btn-success', false: ''}[device.is_on]" ng-click="X10_MDTx07__btn_click($event)">
              {{device.name}} ({{device.volume / 22 * 100 | number:0}}%)
            </button>
          </div>

          <div ng-switch-default>Unknown device "{{device.type}}"</div>
        </div>
      </div>

      <div id="connect-dlg" class="row" ng-hide="connected">
        <div class="alert alert-danger" role="alert">
          <strong>No connection to SmartHome!</strong><br>
          <button type="button" class="btn btn-primary" data-loading-text="Connecting..." autocomplete="off" ng-click="reconnect()" ng-disabled="connecting">
            <span ng-hide="connecting">Reconnect</span>
            <span ng-show="connecting">Connecting...</span>
          </button>
        </div>
      </div>
    </div>

    <script src="https://yastatic.net/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://yastatic.net/jquery-ui/1.11.2/jquery-ui.min.js"></script>
    <script src="https://yastatic.net/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://yastatic.net/angularjs/1.2.23/angular.min.js"></script>
    <script src="smarthome.js"></script>

  </body>
</html>